@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

/* Photocard animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 45s linear infinite;
}
.animate-scroll:hover {
  animation-play-state: paused;
}

/* Letter animation */
@keyframes letterFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-letter {
  animation: letterFade 0.5s ease forwards;
}

/* Astro animation */
/* Image entry */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Floating effect */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-slideIn {
  animation: slideIn 1s ease-out;
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}

